<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="icon" href="https://cdn2.steamgriddb.com/file/sgdb-cdn/icon_thumb/e3f3064ac424a80e0abec999e9ac6d17.png">

</head>

<body>
    <nav>
        <div class="container">
            <% if (user) { %>
                <a href="/restaurants/new" <%- title==='Add Restaurant' ? 'class="active"' : '' %>>
                    Add Restaurant</a>
                <a href="/restaurants" <%- title==='Restaurant List' ? 'class="active"' : '' %>>All Restaurant</a>
                <a href="/logout">LOG OUT</a>
                <% } else { %>
                    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                    <% } %>
        </div>
    </nav>
    <main>
