<%- include('./partials/header') %>


  <h1>
    <%= title %> 🍅
  </h1>

  <div class="image-container">
    <img src="https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png" alt="">
  </div>



  <%- include('./partials/footer') %>
