<%- include('../partials/header') %>

    <h2>Enter a New Restaurant</h2>
    <form id="new-form" action="/restaurants" method="POST">
        <label>Name:
            <input type="text" name="name">
        </label><br>
        <label>Description:
            <input type="text" name="description">
        </label><br>
        <label>Address:
            <input type="text" name="address">
        </label><br>
        <label>Phone Number:
            <input id="num" type="number" name="phoneNumber">
        </label><br>
        <label>Ethnic</label>
        <select name="ethnic">
            <option value="African">African</option>
            <option value="Asian">Asian</option>
            <option value="Australian">Australian</option>
            <option value="European">European</option>
            <option value="North American">North American</option>
            <option value="South American">South American</option>
        </select>
        </label><br>
        <button type="submit">Add Restaurant</button>
    </form>

    <%- include('../partials/footer') %>
